<!DOCTYPE html>
<html lang="en">
<head>
  <!-- jQuery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
  <!-- iamport.payment.js -->
  <script type="text/javascript" src="https://cdn.iamport.kr/v1/iamport.js"></script>
<!--  <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>-->
  <script th:inline="javascript">
    var IMP = window.IMP;
    IMP.init("imp17761258");

    var paypal2Data = {
      pg: "paypal_v2.UFYSG9T7RFW2A",
      pay_method: "paypal",
      merchant_uid: 'merchant_' + new Date().getTime(),   // 주문번호
      customer_uid: 'customer_' + new Date().getTime(),
      name: "Prop_123",
      amount: 18.99,                         // 숫자 타입
      currency: 'USD', // 기본값: USD(원화 KRW는 페이팔 정책으로 인해 지원하지 않음)
      buyer_email: "gildong@gmail.com",
      buyer_name: "홍길동",
    };

    window.onload = function () {
      IMP.init("imp17761258");

      IMP.loadUI('paypal-rt', paypal2Data,
              function (rsp) { // callback
                console.log(rsp);
                $.ajax({
                  type: 'POST',
                  url: '/verify/' + rsp.imp_uid
                }).done(function (data) {
                  console.log(data)
                  if (rsp.paid_amount === data.response.amount) {
                    alert("결제 성공");
                  } else {
                    alert("Paypal 결제 완료");
                  }
                });
              }
      );
    };

    // kg 이니시스
    var mobilData = {
      pg: "html5_inicis.INIBillTst",
      pay_method: "card",
      merchant_uid: 'merchant_' + new Date().getTime(),   // 주문번호
      name: "Prop_123",
      amount: 1000,                         // 숫자 타입
      currency: 'KRW', // 기본값: USD(원화 KRW는 페이팔 정책으로 인해 지원하지 않음)
      buyer_email: "gildong@gmail.com",
      buyer_name: "홍길동",
    };

    function requestKgIni() {
      IMP.request_pay(mobilData, function (rsp) { // callback
        console.log(rsp);
        $.ajax({
          type: 'POST',
          url: '/verify/' + rsp.imp_uid
        }).done(function (data) {
          console.log(data)
          if (rsp.paid_amount === data.response.amount) {
            alert("결제 성공");
          } else {
            alert("결제 실패");
          }
        });
      });
    }

    var kakaopayData = {
      pg: "kakaopay.TCSUBSCRIP",
      pay_method: "card",
      merchant_uid: 'merchant_' + new Date().getTime(),   // 주문번호
      name: "Prop_123",
      amount: 1000,                         // 숫자 타입
      currency: 'KRW', // 기본값: USD(원화 KRW는 페이팔 정책으로 인해 지원하지 않음)
      buyer_email: "gildong@gmail.com",
      buyer_name: "홍길동",
    };

    function requestKakaoPay() {
      IMP.request_pay(kakaopayData, function (rsp) { // callback
        console.log(rsp);
        $.ajax({
          type: 'POST',
          url: '/verify/' + rsp.imp_uid
        }).done(function (data) {
          console.log(data)
          if (rsp.paid_amount === data.response.amount) {
            alert("결제 성공");
          } else {
            alert("결제 실패");
          }
        });
      });
    }

  </script>
  <meta charset="UTF-8">
  <title>Sample Payment</title>
</head>
<body>
<button onclick="requestKakaoPay()">Kakao 정기 결제하기</button> <!-- 결제하기 버튼 생성 -->
<button onclick="requestKgIni()">KG 이니시스 정기 결제하기</button> <!-- 결제하기 버튼 생성 -->
<div  style="margin-top: 2em">
  Paypal 정기결제
</div>
<div class="portone-ui-container" data-portone-ui-type="paypal-rt">
  <!-- 3. 여기에 페이팔 버튼이 생성됩니다. -->
</div>
</body>
</html>